[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.pidb
*.booproj

*.meta
*.unity
*.asset
*.prefab
*.mat
*.fbx
*.obj
*.blend
*.tga
*.png
*.jpg
*.jpeg
*.psd
*.exr
*.wav
*.mp3
*.ogg
*.aif
*.fbx
*.DAE


Library/
**/Assets/AssetStoreTools*


[Pp]lugins/
[Pp]lugins/x86/
[Pp]lugins/x86_64/
[Pp]lugins/Android/
[Pp]lugins/iOS/


.vs/
*.VC.db
*.opendb


.DS_Store*
._*
Thumbs.db
Desktop.ini


*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.swp
*.swo


*.log
*.bak
*.tmp
*.orig
*.~
*~